modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 40137
externalPort = 3000

[userenv]

[userenv.shared]
VITE_API_URL = "http://0.0.0.0:5000"
